*,
* ::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: Montserrat;
  box-sizing: border-box;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px; }

.slide-it-right {
  animation: moveInRight .7s; }

.slide-it-left {
  animation: moveInLeft .7s; }

.slide-it-up {
  animation: moveUp .7s; }

.fade-it-in {
  animation: fadeIn 1s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin360 {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem) rotateY(180deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-text {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 800; }

.primary-heading-text {
  font-size: 2.4rem; }

.secondary-heading-text {
  font-size: 2rem; }

.basic-paragraph {
  font-size: 1.4rem; }

.cta-contact {
  font-size: 1.6rem; }

/*
0-600px phone
600-900px tab portrait
900-1200px tab land
1200 - 1800 normal
1000px + big desktop
args :
-phone
-tab-port
-tab-land
-big-desktop
1em 16px

order@base typo general layout page components
*/
.img-responsive {
  width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%;
  height: 20rem;
  width: 20rem; }

.kart-vid {
  width: 80%; }
  @media (max-width: 37.5em) {
    .kart-vid {
      width: 100%; } }

.img-teams {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.mast-logo {
  margin: auto; }

.nav-bar {
  background-color: #000;
  padding: 2rem .5rem;
  border-bottom: solid 3px #f15d08; }
  .nav-bar__desktop {
    animation: fadeIn 1s; }
    @media (max-width: 56.25em) {
      .nav-bar__desktop {
        opacity: 0;
        visibility: hidden; } }
    .nav-bar__desktop--links {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center; }
      .nav-bar__desktop--links__link--tag {
        padding: .8rem;
        max-width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;
        color: #e71212;
        transition: all .3s;
        display: inline-block; }
        .nav-bar__desktop--links__link--tag:hover {
          color: #f15d08;
          transform: scale(1.2) rotate(-3deg);
          font-weight: 800; }
  .nav-bar__checkbox {
    display: none; }
  .nav-bar__button {
    background-color: #000;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer; }
  .nav-bar__icon {
    margin-top: 1rem;
    position: relative;
    opacity: 0;
    visibility: hidden; }
    @media (max-width: 56.25em) {
      .nav-bar__icon {
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 37.5em) {
      .nav-bar__icon {
        margin-top: 2rem; } }
    .nav-bar__icon, .nav-bar__icon:before, .nav-bar__icon:after {
      width: 3rem;
      height: 4px;
      background-color: red;
      display: inline-block; }
    .nav-bar__icon:before, .nav-bar__icon:after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav-bar__icon:after {
      top: -.8rem; }
    .nav-bar__icon:before {
      top: .8rem; }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon {
    background-color: transparent; }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav-bar__button:hover .nav-bar__icon::before {
    top: 1rem; }
  .nav-bar__button:hover .nav-bar__icon::after {
    top: -1rem; }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon {
    background-color: transparent; }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav-bar__mobile {
    position: absolute;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all .5s; }
    @media (max-width: 56.25em) {
      .nav-bar__mobile {
        opacity: 1;
        visibility: visible;
        display: block;
        background-color: #000;
        width: 18%; } }
    @media (max-width: 37.5em) {
      .nav-bar__mobile {
        top: 8.3rem;
        width: 40%; } }
    .nav-bar__mobile--links {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      padding-left: 3rem; }
      .nav-bar__mobile--links__link--tag {
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 400;
        text-decoration: none;
        color: #e71212; }
  .nav-bar__checkbox:checked ~ .nav-bar__mobile {
    /* A toggled state! No JavaScript! */
    left: 0; }
    @media (max-width: 56.25em) {
      .nav-bar__checkbox:checked ~ .nav-bar__mobile {
        top: 8rem; } }
    @media (max-width: 37.5em) {
      .nav-bar__checkbox:checked ~ .nav-bar__mobile {
        top: 9.9rem; } }
  .nav-bar__checkbox:not(:checked) ~ .nav-bar__mobile {
    left: -50rem; }

.btn-wrapper {
  margin-top: 2rem; }
  .btn-wrapper .btn {
    display: inline-block; }
    .btn-wrapper .btn, .btn-wrapper .btn:link, .btn-wrapper .btn:visited {
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none;
      padding: 1rem 1rem;
      border-radius: 25px;
      transition: all .3s;
      text-transform: uppercase;
      position: relative;
      cursor: pointer; }
    .btn-wrapper .btn:active, .btn-wrapper .btn:focus {
      outline: none; }
    .btn-wrapper .btn:hover {
      transform: scale(1.2); }
    .btn-wrapper .btn--primary {
      background-color: #000;
      border: 0.3rem solid #e71212; }
      .btn-wrapper .btn--primary:hover {
        background-color: #e71212;
        border: 0.3rem solid #000;
        box-shadow: 0 3px 8px #3d3c3c; }
    .btn-wrapper .btn--secondary {
      background-color: #000;
      border: 0.3rem solid #f15d08; }
      .btn-wrapper .btn--secondary:hover {
        background-color: #f15d08;
        border: 0.3rem solid #000;
        box-shadow: 0 3px 8px #3d3c3c; }
    .btn-wrapper .btn--white {
      background-color: #000;
      border: 0.3rem solid #fff; }

.contact-form {
  width: 100%; }
  .contact-form .form-group {
    margin-bottom: .1rem; }
  .contact-form__input {
    width: 100%;
    margin-bottom: .5rem;
    padding-top: .3rem;
    border: none;
    border-top: .2rem solid #000; }
    .contact-form__input:focus {
      outline: none; }
  .contact-form__textarea {
    width: 100%;
    border: none;
    border-top: .2rem solid #000;
    height: auto; }
    .contact-form__textarea:focus {
      outline: none; }
  .contact-form .form-label {
    float: left;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 400; }
  .contact-form .submit {
    float: left;
    padding: 1rem 1rem;
    background-color: #e71212;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    transition: all .2s; }
    .contact-form .submit:hover {
      background-color: #f71e1e;
      transform: scale(1.2);
      box-shadow: .5rem .5rem .5rem #464444; }

.masthead {
  height: 90vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/go-kart-pexels-1.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 56.25em) {
    .masthead {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/go-kart-pexels-1-med.webp"); } }
  .masthead__inner {
    color: #fff;
    text-align: center; }
    .masthead__inner--line {
      color: #fff;
      background-color: #fff;
      width: 5rem;
      margin: 2rem auto;
      height: 1rem; }
    .masthead__inner .mast-logo {
      animation: .8s  spin360; }
    .masthead__inner .heading-text {
      animation: moveInLeft .8s; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .row .col-1 {
    flex-basis: 100%; }
  .row .col-2 {
    flex-basis: calc(100%/2); }
  .row .col-3 {
    flex-basis: calc(100%/3); }
  .row .col-4 {
    flex-basis: calc(100%/4); }
  .row .col-5 {
    flex-basis: calc(100%/5); }
  .row .col-6 {
    flex-basis: calc(100%/6); }
  @media (max-width: 37.5em) {
    .row {
      flex-wrap: wrap; }
      .row .col-2 {
        flex-basis: 100%; }
      .row .col-3 {
        flex-basis: 100%; }
      .row .col-4 {
        flex-basis: 100%; }
      .row .col-5 {
        flex-basis: 100%; }
      .row .col-6 {
        flex-basis: 100%; } }

.welcome__section {
  padding: 6rem 2rem; }
  .welcome__section .grow {
    flex-grow: 1; }
  .welcome__section--vid {
    margin-right: 3rem; }
    .welcome__section--vid .kart-vid {
      float: right; }
    @media (max-width: 37.5em) {
      .welcome__section--vid {
        margin-right: 0; }
        .welcome__section--vid .kart-vid {
          float: none; } }
  .welcome__section--content {
    width: 100%;
    height: 100%; }
    .welcome__section--content__inner .secondary-heading-text {
      margin-bottom: 3rem; }
    .welcome__section--content__inner .basic-paragraph {
      width: 80%; }
    @media (max-width: 37.5em) {
      .welcome__section--content__inner {
        text-align: center; }
        .welcome__section--content__inner .secondary-heading-text {
          margin: 3rem 0; }
        .welcome__section--content__inner .basic-paragraph {
          width: 100%; } }
  .welcome__section--top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem; }
    .welcome__section--top__inner--line {
      width: 5rem;
      color: #000;
      background-color: #000;
      height: .6rem;
      margin: 2rem auto; }
    @media (max-width: 37.5em) {
      .welcome__section--top__inner .primary-heading-text {
        text-align: center; } }
  .welcome__section--bottom {
    text-align: center;
    margin: 3rem 0;
    padding: 4rem 2rem; }
    .welcome__section--bottom .secondary-header-text {
      margin: 1rem 0; }
    .welcome__section--bottom .call-text {
      margin: 3rem 0; }

.cta__section {
  padding: 8rem 4rem;
  background-color: #e71212;
  color: #fff; }
  @media (max-width: 37.5em) {
    .cta__section .row :not(:last-child).col-3 {
      margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .cta__section .row :not(:last-child).col-3 {
      margin-bottom: 3rem; }
    .cta__section .row .col-3 {
      flex-basis: 100%; } }
  .cta__section--orange {
    background-color: #f15d08; }
  .cta__section--white {
    background-color: #fff;
    color: #000; }
  .cta__section--circle-box {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .cta__section--circle-box .secondary-heading-text {
      margin-bottom: 2.5rem; }
    .cta__section--circle-box .circle-wrapper {
      position: relative;
      border-radius: 50%;
      width: max-content;
      margin: auto; }
      .cta__section--circle-box .circle-wrapper:hover > picture > .img-circle {
        filter: blur(2px) grayscale(100%); }
        .cta__section--circle-box .circle-wrapper:hover > picture > .img-circle ~ .fig-captian {
          opacity: 1; }
      .cta__section--circle-box .circle-wrapper__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300; }
      .cta__section--circle-box .circle-wrapper .fig-captian {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        color: #fff;
        padding: 2rem;
        opacity: 0;
        border-radius: 15px; }
        .cta__section--circle-box .circle-wrapper .fig-captian:hover > .circle-wrapper__link {
          color: #e71212; }
    .cta__section--circle-box .basic-paragraph {
      padding: 2rem 5rem; }
      @media (max-width: 56.25em) {
        .cta__section--circle-box .basic-paragraph {
          padding: 2rem 12rem; } }
      @media (max-width: 37.5em) {
        .cta__section--circle-box .basic-paragraph {
          padding: 2rem 2rem; } }
  .cta__section--box {
    text-align: center; }
    .cta__section--box .secondary-heading-text {
      margin: 3rem 0; }
    .cta__section--box .cta-contact--link {
      padding-top: 1rem;
      display: block;
      text-decoration: none;
      color: #fff; }
    @media (max-width: 37.5em) {
      .cta__section--box .secondary-heading-text {
        margin: 1rem 0; } }

.find-us__section {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/go-kart-international-track.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  @media (max-width: 56.25em) {
    .find-us__section {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/go-kart-international-track-med.webp"); } }
  .find-us__section--wrapper {
    padding: 15rem 3rem;
    text-align: center;
    color: #fff; }
    .find-us__section--wrapper .basic-paragraph {
      margin: 1rem 0; }
    .find-us__section--wrapper .btn-wrapper {
      margin: 3rem 0; }
    .find-us__section--wrapper__line {
      color: #fff;
      background-color: #fff;
      height: .8rem;
      width: 4rem;
      margin: 2rem auto; }

.teams__section .row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%; }
  @media (max-width: 37.5em) {
    .teams__section .row {
      flex-wrap: wrap; } }
  .teams__section .row .col-2 {
    flex-grow: 1; }

.teams__section--content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .teams__section--content__inner {
    padding: 2rem; }
    .teams__section--content__inner .secondary-heading-text {
      margin-bottom: 3rem; }
    .teams__section--content__inner .btn-wrapper {
      margin-top: 4rem; }
    .teams__section--content__inner .basic-paragraph {
      margin-bottom: 1rem; }

.img-row__section {
  padding: 3rem 0;
  background-color: #000; }
  .img-row__section .row .col-3 {
    padding: 2rem; }

.contact__section {
  padding: 6rem 2rem; }
  .contact__section--details .secondary-heading-text {
    text-align: center;
    margin-bottom: 5rem; }
  .contact__section--details .details {
    width: 50%;
    margin: 5rem auto; }
    @media (max-width: 37.5em) {
      .contact__section--details .details {
        margin: 0 3rem; } }
    .contact__section--details .details--text {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: .5rem; }
      .contact__section--details .details--text__link {
        text-decoration: none;
        color: #e71212;
        margin-left: 1rem; }
  .contact__section--details .icon {
    margin: 3rem 0;
    text-align: center; }
    .contact__section--details .icon i {
      font-size: 15rem; }
  .contact__section--form {
    text-align: center;
    padding: 1rem 8rem; }
    @media (max-width: 37.5em) {
      .contact__section--form {
        padding: 1rem 3rem; } }
  .contact__section .secondary-heading-text {
    text-align: center;
    margin-bottom: 5rem; }

.about__section .row .col-2:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center; }

.about__section--inner {
  padding: 2rem; }
  .about__section--inner .secondary-heading-text {
    margin-bottom: 3rem; }
  .about__section--inner .btn-wrapper {
    margin-top: 4rem; }
  .about__section--inner .basic-paragraph {
    margin-bottom: 1rem; }

.footer {
  background-color: #000;
  color: #fff;
  padding: 10rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer .copy-div {
    text-align: center; }
    .footer .copy-div p {
      font-size: 2rem;
      margin-bottom: 1rem; }
  .footer .privacy-div {
    text-align: center; }
    .footer .privacy-div p {
      font-size: 2rem; }
      .footer .privacy-div p a {
        text-decoration: none;
        color: #e71212; }
  .footer .nld-div {
    text-align: center; }
    .footer .nld-div p {
      margin-top: 2rem;
      font-size: 2rem; }
      .footer .nld-div p a {
        text-decoration: none;
        color: #e71212; }
