.cta__section{
    padding:8rem 4rem;
    background-color: $color-primary;
    color:$color-white;
    &--orange{
        background-color: $color-orange;
    }
    &--white{
        background-color: $color-white;
        color:$color-black;
    }
    &--circle-box{
        text-align: center;
        position:relative;

        .secondary-heading-text{
            margin-bottom:2.5rem;
        }
        .circle-wrapper{
            position:relative;
            border-radius:50%;
            width:max-content;
            margin:auto;
            &:hover > .img-circle{
                filter:blur(2px) grayscale(100%);
                & ~ .fig-captian{
                     opacity:1;
                } 
            }
           
            &__link{
                text-decoration:none;
                color:$color-white;
                font-size:1.5rem;
                text-transform: uppercase;
                font-weight:300;

                
            }
            .img-circle{
                &:hover{
                    filter:blur(2px) grayscale(100%);
                    & ~ .fig-captian{
                         opacity:1;
                    } 
                }
                
            }
            .fig-captian{
               @include abs-center;
                background-color: $color-black;
                color:$color-white;
                padding:2rem;
                opacity:0;
                border-radius: 15px;
                &:hover{
                    opacity:1;
                    & ~ .img-circle{
                        filter:blur(2px) grayscale(100%);
                    } 
                    &>.circle-wrapper__link{
                       color:$color-primary;
                      
                    }
                }
              
            }
        }
        .basic-paragraph{
            padding:1.5rem;
            padding:2rem 5rem;
        }
      
    }
    &--box{
       text-align:center;
       .secondary-heading-text{
            margin:3rem 0;
       }
       .cta-contact{
        &--link{
            padding-top:1rem;
            display:block;
            text-decoration:none;
            color:$color-white;
        }
       }
    }
}