.cta__section{
    padding:8rem 4rem;
    background-color: $color-primary;
    color:$color-white;
    @include respond(phone){
        .row{
            :not(:last-child).col-3{
                margin-bottom:3rem;
            }
            
                
        }
    }
    @include respond(tab-port){
        .row{
          //flex-wrap:nowrap;
          :not(:last-child).col-3{
            margin-bottom:3rem;
           }
          .col-3{
            flex-basis:100%;
          }
        }
    }
    &--orange{
        background-color: $color-orange;
    }
    &--white{
        background-color: $color-white;
        color:$color-black;
    }
    &--circle-box{
        text-align: center;
        position:relative;
        display:flex;
        flex-direction: column;
        align-items: stretch;
        .secondary-heading-text{
            margin-bottom:2.5rem;
        }
        .circle-wrapper{
            position:relative;
            border-radius:50%;
            width:max-content;
            margin:auto;
            &:hover > picture > .img-circle{
                //circle
                filter:blur(2px) grayscale(100%);
                & ~ .fig-captian{
                     opacity:1;
                } 
            }
           
            &__link{
                text-decoration:none;
                color:$color-white;
                font-size:1.5rem;
                text-transform: uppercase;
                font-weight:300;

                
            }
          
            .fig-captian{
               @include abs-center;
                background-color: $color-black;
                color:$color-white;
                padding:2rem;
                opacity:0;
                border-radius: 15px;
                &:hover{
                    //fig cation
                    &>.circle-wrapper__link{
                       color:$color-primary;
                      
                    }
                }
              
            }
        }
        .basic-paragraph{
           
            padding:2rem 5rem;
            @include respond(tab-port){
                padding:2rem 12rem;
               
            }
            @include respond(phone){
                padding:2rem 2rem;
               
            }
        }
      
    }
    &--box{
       text-align:center;
       .secondary-heading-text{
            margin:3rem 0;
       }
       .cta-contact{
        &--link{
            padding-top:1rem;
            display:block;
            text-decoration:none;
            color:$color-white;
        }
       }
       @include respond(phone){
        
        .secondary-heading-text{
            margin:1rem 0;
       }
           
        
       }
    }
}