.find-us__section{
    background-image:linear-gradient(to right, rgba($color-black,0.7),rgba($color-black,0.7)),url("/img/go-kart-international-skegness-rules.jpg");
    background-position: center;
    background-size: cover;
    &--wrapper{
        padding:15rem 3rem;
        text-align: center;
        color:$color-white;
        .basic-paragraph{
            margin:1rem 0;
        }
        .btn-wrapper{
            margin:3rem 0;
        }
        &__line{
            color:$color-white;
            background-color:$color-white;
            height: .8rem;
            width:4rem;
            margin:2rem auto;
        }
    }
  
}