.welcome__section{
    padding:$section-padding;
    .grow{
        flex-grow:1;
    }
    &--vid{
        margin-right:3rem;
       .kart-vid{
        float:right;
       }
       @include respond(phone){
        margin-right:0;
        .kart-vid{
            float:none;
           }
       }
    }
    &--content{
    
        width:100%;
        height:100%;
        &__inner{
            .secondary-heading-text{
                margin-bottom: 3rem;
               }
               .basic-paragraph{
                     width:80%;
               }
            @include respond(phone){
                text-align: center;
                .secondary-heading-text{
                    margin: 3rem 0;
                   }
                   .basic-paragraph{
                         width:100%;
                   }
            }
          
          
        }
    }
    &--top{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:4rem 2rem;
        &__inner{
            
            &--line{
                width:5rem;
                color:$color-black;
                background-color: $color-black;
                height:.6rem;
                margin:2rem auto;
            }
            @include respond(phone){
                .primary-heading-text{
                    text-align: center;
                };
            }
        }
   
    }
    &--bottom{
        text-align: center;
        margin:3rem 0;
        padding:4rem 2rem;
        .secondary-header-text{
            margin:1rem 0;
        }
        .call-text{
            margin:3rem 0;
        }
    }
}