$color-white:#fff;
$color-primary:#e71212;
$color-primary-light:#f71e1e;
$color-primary-dark:#bb0a0a;
$color-orange:rgb(241, 93, 8);
$color-dark-grey:#777;
$color-light-grey:rgb(228, 215, 215);
$color-black:#000;
$section-padding:6rem 2rem;
$footer-padding:10rem 4rem;