$color-white:#fff;
$color-primary:#e71212;
$color-primary-light:#f71e1e;
$color-primary-dark:#bb0a0a;
$color-orange:rgb(235, 158, 15);
$color-dark-grey:#777;
$color-light-grey:rgb(228, 215, 215);
$color-black:#000;
