.img-responsive{
    width:100%;
    height:auto;
}
.img-circle{
    border-radius:50%;
    height:30rem;
    width:30rem;
}
.kart-vid{
    width:60%;
}
.img-teams{
    width:100%;
    height:100%;
    object-fit: cover;
}