.img-responsive{
    width:100%;
    height:auto;
}
.img-circle{
    border-radius:50%;
    height:20rem;
    width:20rem;
}
.kart-vid{
    width:80%;
    @include respond(phone){
        width:100%;
    }
}
.img-teams{
    width:100%;
    height:100%;
    object-fit: cover;
}
.mast-logo{
    margin:auto;
}