.nav-bar{
    background-color: $color-black;
    padding:2rem .5rem;
    border-bottom:solid 3px $color-orange;
    &__desktop{

        @include respond(tab-port) {
            opacity:0;
            visibility: hidden;
         }
         &--links{
            width:100%;
            display:flex;
            flex-wrap:nowrap;
            justify-content: center;
            
            &__link{
              
              &--tag{
                padding:.8rem;
                max-width:100%;
                font-size:1.6rem;
                font-weight:400;
                letter-spacing:1px;
                text-decoration: none;
                color:$color-primary;
              }
            }
         }
    }
    &__mobile{
        opacity:0;
        visibility: hidden;
        display:none;
         @include respond(tab-port) {
            opacity:1;
            visibility: visible;
            display:block;
         }
    }
}