.heading-text{
    font-size:2.8rem;
    text-transform: uppercase;
    font-weight: 800;
}
.primary-heading-text{
    font-size:2.4rem;
}
.secondary-heading-text{
    font-size:2rem;
}
.basic-paragraph{
    font-size:1.4rem;
}
.cta-contact{
    font-size:1.6rem;
}